---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p class='text-muted-foreground'>Developer / Photographer / Player</p>
  <p class='text-muted-foreground'>你好，我叫muleizh，是一个对AI和摄影感兴趣的计算机学生。</p>
  <p class='text-muted-foreground'>最近在被xv6大作业和Agentic RL折磨</p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <p class='text-muted-foreground'>轻松过上了没有爱好的人生</p>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Davinci Resolve',
        description: 'Video Editing',
        href: 'https://www.blackmagicdesign.com/products/davinciresolve/',
        icon: import('@/assets/tools/davinciresolve.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Edge',
        description: 'Broswer',
        href: 'https://www.microsoft.com/en-us/edge',
        icon: import('@/assets/tools/edge.svg?raw')
      },
      {
        name: 'Chrome',
        description: "Broswer if can't use Edge",
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Yuque',
        description: 'Note Taking',
        href: 'https://www.yuque.com/',
        icon: import('@/assets/tools/yuque.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Intellij IDEA',
        description: 'Java IDE',
        href: 'https://www.jetbrains.com/idea/',
        icon: import('@/assets/tools/intellij.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux + KDE',
        description: 'Dual System Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'WSL2 Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Thinkbook 16+ 2024',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Muleizhang',
        text: 'followers',
        api: 'github/Muleizhang'
      },
      {
        platform: 'Bilibili 的粉丝统计坏了',
        icon: 'bilibili',
        color: '#2ca5e0',
        link: 'https://space.bilibili.com/407906952',
        text: 'subscribers',
        api: 'bilibili/407906952'
      },
      {
        platform: 'Netease',
        icon: 'netease',
        color: '#e71f19',
        link: 'https://music.163.com/#/user/home?id=132603651',
        text: 'followers',
        api: 'neteasemusic/132603651'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/b4QED/',
        text: 'games',
        api: 'steamgames/76561199143878594'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-10-25',
        content: 'Launch this blog with Astro 5.x Astro Pure and vercel.'
      }
    ]}
  />
</PageLayout>
