---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'github-activities', text: 'Github Activities' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' }
]
---

<PageLayout title='Projects' {headings} view>
  <h2 id='github-activities'>Github Activities</h2>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Muleizhang'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <!-- gpg signature -->
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    我的 GPG 秘钥是 <code>6163A97FBC3DA02B275261C0B97883FEC7C6AB3F</code>， 你可以在 "<code
      >opengpg</code
    >" 上找到并下载它。
  </p>
  <Button
    href='https://keys.openpgp.org/search?q=6163A97FBC3DA02B275261C0B97883FEC7C6AB3F'
    title='Checkout my key'
    target='_blank'
  >
    <KeyIcon class='size-5' slot='before' />
  </Button>
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
